@import "../../../style-config/mixins.scss";
$height: 500px;

.main-special-feed {
  max-height: $height;

  background: lighten($special-color, 50%);

  .special-product-slide {
    .special-product-slide-container {
      height: 500px;
      position: relative;
      display: flex;
      width: 100%;
      gap: 10px;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
