@import "../../style-config/vars.scss";
@import "../../style-config/mixins.scss";

.main-header {
  height: 75px;
  border-bottom: 1px solid $special-color;
  border-bottom-style: double;
  box-shadow: 3px 5px 10px 1px lighten($special-color, 30%);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;

  @include no-select;
  @include special-font;
  @include default-half-padding;

  @include tablet-landscape-app {
    padding: 0 20px;
  }

  @include tablet-portrait-app {
    padding: 0 20px;
  }

  @include mobile-app {
    padding: 0 20px;
  }

  .header-element {
    // &:first-child {
    //   margin-left: 10px;
    // }

    &:not(.home-icon) {
      @include special-link-button;
    }

    &.home-icon {
      flex: 1;
      span {
        cursor: pointer;
        font-size: 50px;
        color: $special-color;
      }
    }

    &-content {
      letter-spacing: 1px;
      color: $text-color-basic;
    }
  }
}
