@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

$black-1: #303030;
$black-2: #1f1f1f;
$white-1: #f1f1f1;
$white-2: #fbf7f5;

$bg-app: #f1f1f1;
$secondary-color: #f5cbb9;

$text-color-basic: #c9867e;

$special-color: #9a2f43;

$content-width: 600px;
