@import "../../style-config/mixins.scss";
@import "../../style-config/vars.scss";

.home {
  margin-top: 50px;

  @include default-half-padding;
  position: relative;

  &-content {
    color: $text-color-basic;
    padding: 10px;

    border: 1px solid $special-color;
  }
}
